.new-board-container {
    margin: 0 auto;
    max-width: 500px;
}

.new-board-form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 32px;
    background-color: #1a1a1b;
    border: 1px solid #343536;
    border-radius: 8px;
}

.new-board-form-field {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 8px;
    width: 100%;
}

.new-board-form-label {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #868789;
}

.new-board-form-input {
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #343536;
    border-radius: 4px;
    color: #d5d8da;
    transition: border 0.15s ease;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.new-board-form-input:focus {
    outline: none;
    border: 1px solid #d5d8da;
}

.new-board-error-div {
    height: 14px;
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #bf1e2d;
}

.radio-button-container {
    display: flex;
    flex-flow: row nowrap;
}

.radio-button {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 24px;
}

.radio {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #d5d8da;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-inner {
    width: 0;
    height: 0;
    transition: width 0.1s linear, height 0.1s linear;
}

.radio-inner.active-radio {
    background-color: #d5d8da;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.new-board-btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.new-board-btn {
    width: 70px;
}
