/* TODO Add site wide styles */
html {
    box-sizing: border-box;
    background-color: #030303;
    color: #d5d8da;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.content-wrapper {
    padding-top: 80px;
    z-index: 1;
}

.btn-primary,
.btn-secondary,
.btn-red {
    color: #d5d8da;
    opacity: 0.8;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 4px;
    padding: 4px 8px;
    transition: opacity 0.25s ease;
    cursor: pointer;
}

.btn-primary {
    background-color: #47a025;
}

.btn-secondary {
    background-color: #0079d3;
}

.btn-red {
    background-color: #bf1e2d;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-red:hover {
    opacity: 1.0;
}

.about-info {
    text-align: center;
    margin: 64px;
    color: #868789;
}

.about-icon {
    margin-left: 8px;
    color: #0079d3;
}

.email-link {
    color: #0079d3;
}
