/* TODO Add site wide styles */
html {
    box-sizing: border-box;
    background-color: #030303;
    color: #d5d8da;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.content-wrapper {
    padding-top: 80px;
}

.btn-primary {
    color: #d5d8da;
    background-color: #0079d3;
    opacity: 0.8;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 4px;
    padding: 4px 8px;
    transition: opacity 0.25s ease;
}

.btn-primary:hover {
    opacity: 1.0;
}
