.directory-container {
    margin: 0 auto;
    padding: 32px;
    max-width: 700px;
    background-color: #1a1a1b;
    border: 1px solid #343536;
    border-radius: 8px;
}

.directory-search-container {
    display: flex;
    align-items: center;
}

.directory-search-bar {
    padding: 4px 8px;
    background-color: #272729;
    border: 1px solid #343536;
    border-radius: 4px;
    color: #d5d8da;
    transition: border 0.15s ease;
    font-family: "Roboto", sans-serif;
}

.directory-search-bar:focus {
    outline: none;
    border: 1px solid #d5d8da;
}

.directory-content-container {
    margin-top: 16px;
}

.directory-content-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    color: #868789;
    margin-bottom: 4px;
}

.directory-board-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
    border-top: 1px solid #343536;
    padding: 16px 0;
}

.directory-board-about-info {
    margin-right: 32px;
}

.directory-board-name {
    font-size: 20px;
    font-weight: bold;
}

.directory-board-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 64px;
}

.directory-board-users {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #868789;
}

.directory-join-button {
    margin-top: 8px;
    min-width: 52px;
}

.directory-content-footer {
    padding-top: 4px;
    border-top: 1px solid #343536;
}
