.board-container {
    margin: 0 auto;
    padding: 32px;
    max-width: 700px;
    background-color: #1a1a1b;
    border: 1px solid #343536;
    border-radius: 8px;
}

.board-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
    padding: 0 0 16px 0;
}

.board-about-info {
    margin-right: 32px;
}

.board-info-name {
    font-size: 20px;
    font-weight: bold;
}

.board-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 64px;
}

.board-users {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #868789;
}

.board-edit-btn {
    min-width: 52px;
}

.board-control-container {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #343536;
}

.thread-item-page-links {
    margin-top: 4px;
    color: #636465;
    font-size: 14px;
    opacity: 0.5;
}

.board-thread-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid #343536;
}

.pinned-thread-icon {
    margin-right: 8px;
}

.thread-page-link {
    text-decoration: none;
    opacity: 1.0;
    color: #868789;
    margin: 0 4px;
}

.thread-item-sort {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.thread-author-info {
    margin-right: 16px;
    font-size: 14px;
}

.thread-date-info {
    text-align: center;
    font-size: 14px;
}
