.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 4px 0;
    background-color: #1a1a1b;
    border-bottom: 1px solid #343536;
}

.nav-logo-area {
    margin-left: 16px;
    cursor: pointer;
}

.nav-logo-text {
    font-weight: bold;
    font-size: 20px;
}

.nav-dropdown-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    max-width: 256px;
    width: 100%;
    padding: 0 8px;
    background-color: #272729;
    color: #868789;
    border: 1px solid #343536;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.dropdown-chevron {
    color: #868789;
}

.dropdown-chevron {
    transition: all 0.15s linear;
}

.active-chevron {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 34px;
    left: -1px;
    width: 100%;
    max-width: 272px;
    background-color: #272729;
    border: 1px solid #343536;
}

.dropdown-menu-item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 36px;
    border-bottom: 1px solid #343536;
    color: #d5d8da;
    opacity: 0.7;
    transition: opacity 0.25s ease, font-weight 0.25s ease;
}

.dropdown-menu-item:hover {
    opacity: 1.0;
    font-weight: bold;
}

.nav-user-area {
    margin-right: 16px;
    position: relative;
}

.btn-nav-login {
    width: 80px;
}

.btn-nav-user {
    font-size: 20px;
}

.nav-user-menu {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #272729;
    display: flex;
    flex-flow: column nowrap;
    width: 128px;
    border: 1px solid #343536;
}

.nav-user-menu-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 12px 8px;
    border-bottom: 1px solid #343536;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.25s ease, font-weight 0.25s ease;
}

.nav-user-menu-item:hover {
    opacity: 1.0;
    font-weight: bold;
}

.btn-user-menu {
    width: 20px;
    margin-right: 8px;
}

.user-menu-text {
    font-size: 12px;
}
